POSTGRES_DB=nombre_base_datos
POSTGRES_USER=usuario_postgres
POSTGRES_PASSWORD=contrasena_postgres
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@correo.com
PGADMIN_DEFAULT_PASSWORD=contrasena_pgadmin
PGADMIN_PORT=8081