# Archivos de entorno y credenciales
# .env  ← incluido en repo intencionalmente (entorno educativo)

# Persistencia de datos local de contenedores
pgdata/
pgadmin_data/

# Archivos de sistema operativo y editores
.DS_Store
.vscode/
*.log